html {
  min-height: 89vh;
}

nav {
  height: 90px;
  background-color: #519872;
  z-index: 10
}

body {
  background-color: #afd4c0;
  line-height: 25px;
}

h2 {
  margin: 0;
}

button {
  font-size: 17px;
  font-weight: 600;
  padding: 8px 14px;
  border: none;
}

a {
  text-decoration: none;
}

.btn1 {
  font-size: 18px;
  background-color: #7edf86;
}

.btn2 {
  font-size: 18px;
  background-color: #74c47b;
}

.btn3 {
  font-size: 18px;
  background-color: #7edf86;
}

.dlt-btn {
  position: absolute;
  right: 10px;
  background: none;
  height: 30px;
  margin: -6px -8px 0 0;
}

input {
  padding: 4px;
  margin: 2px;
}

.input-1 {
  width: 220px;
}

.input-2 {
  width: 450px;
}

.input-3 {
  width: 200px;
}

.component-wrap {
  display: flex;
  justify-content: center;
  background-color: #afd4c0;
  min-height: 89vh;
}

.component {
  min-height: 89.4vh;
  width: 850px;
  background-color: #e5f4ec;
}

.component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 752px;
  height: 90px;
}

.wizard {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  width: 220px;
  height: 300px;
}

.comp-container {
  padding: 0 24px;
}

.container {
  border-top: 1px solid black;
  min-height: 200px;
}

.comp-name {
  font-size: 36px;
  font-weight: 500;
  color: #3b5249;
}

.comp-btn {
  align-items: center;
}

.sub-name {
  font-weight: 600;
  font-size: 18px;
  margin: 20px;
}

.house-card {
  position: relative;
  display: flex;
  background-color: #DEDEDE;
  margin-bottom: 12px;
  padding: 12px;
  height: 130px;
}

.card-img {
  width: 235px;
  margin-right: 12px;
}

.card-group1 {
  width: 278px;
  margin-right: 10px;
}

.card-group2 {
  width: 242px;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.space {
  justify-content: space-between;
}

.middle {
  align-items: center;
}

